*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.iml
*.iws
*.ipr
.idea/
.gradle/
local.properties
/app/build/
*/build/
/build
build/
*~
*.swp
*.apk
*.ap_
/app/*.apk
*.dex
*.class
bin/
gen/