<?xml version="1.0" encoding="utf-8"?>

<manifest package="com.tyut.himusic"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
          >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyInformation"
            />
        <activity
            android:name=".activity.MineMyVideo"
         />
        <activity
            android:name=".activity.MineMyMusic"
           />
        <activity
            android:name=".activity.MineSetting"
            />
        <activity
            android:name=".activity.VideoPlayerActivity"/>
        <activity
            android:name=".activity.MusicRunningActivity"
            />
        <activity
            android:name=".activity.MusicListActivity"
            />
        <activity
            android:name=".activity.MusicSettingActivity"
          />
        <activity
            android:name=".activity.CircleMenuActivity"
          />
        <activity android:name=".activity.VipActivity" />
        <activity android:name=".activity.JAYZHOUActivity"/>

    </application>

</manifest>