<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tyut.himusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyInformation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MineMyVideo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MineMyMusic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MineSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MusicRunningActivity" />
        <activity android:name=".activity.MusicListActivity" />
        <activity android:name=".activity.MusicSettingActivity"></activity>
    </application>

</manifest>